.post-to{
    padding-top: 15px;
}
.quest-tags-b{
    margin-bottom: 0;
}
.quest-tags-b li{
    display: inline-block;
    color: #ffffff;
    background-color: #53d690;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 7px 15px;
}
.ul-group-style{
    padding: 8px 0 15px 10px;
}
.but-post-style{
    padding: 0 10px 0 10px;
}
.btn-div-pdd{
    padding: 15px 0 15px 0;
}