.in-ver-div{
    padding-top: 10px;
    width: 100%;
}
.in-ver{
    padding-right: 30px;
}
.btn-div-ver{
    min-height: 100%;
    padding: 0;
}
.btn-get-ver{
    width: 100%;
    font-size: 14px;
    padding: 9px 9px 9px 9px;
    color: #ffffff;
    background-color: #ea7c31;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}