.r-lo-btn{
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
    color: #bcbcbc;
    border-width: 0 0 0 0;
}
.r-lo-btn:hover{
    background-color: transparent;
    border-color: #ea7c31;
    border-width: 0 0 2px 0;
    cursor: pointer;
}
.r-lo-btn:focus{
    outline: none;
}
.r-re-btn:hover{
    cursor: pointer;
}
.r-re-btn:focus{
    outline: none;
}
.r-re-btn{
    background: transparent;
    font-weight: bold;
    font-size: 22px;
    color: #ea7c31;
    border-width: 0 0 2px 0;
    border-color: #ea7c31;
}
.in-ver-div{
    width: 100%;
}
.in-ver{
    padding-right: 30px;
}
.btn-div-ver{
    width: 100%;
    min-height: 100%;
    padding: 0;
}
.btn-get-ver{
    width: 100%;
    font-size: 14px;
    padding: 9px 9px 9px 9px;
    color: #ffffff;
    background-color: #ea7c31;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}