<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编写笔记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/lib/editor.md/css/editormd.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/edit_note_style.css">
    <script type="text/javascript">
        function onClickClose(x) {
            var item=document.createElement("a");
            item.className="dropdown-item";
            item.setAttribute("onclick", "onClickDropdownItem(this)");
            item.innerHTML=x.previousSibling.nodeValue;
            var menu = $(".dropdown-menu")[0];
            if (menu.firstElementChild.innerHTML==="快去添加新的标签吧！") {
                menu.innerHTML="";
            }
            menu.append(item);

            x.parentNode.remove();
        }
    </script>
    <style>
        .navbar-brand{
            margin-left: 40px;
            margin-right: 50px;
        }
        /*.form-control{*/
        /*    margin-right: 50px;*/
        /*}*/
        .img-circle{
            margin-left: 40px;
            margin-right: 15px;
            width: 35px;
            height: 35px;
        }
        /*屏幕缩小到900px以下时执行代码*/
        @media screen and (max-width:900px){
            .navbar-brand{
                margin-left: 0px;
            }
            .img-circle{
                margin-left: 0px;
            }
        }
    </style>
    <script src="../static/lib/editor.md/editormd.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                width: "100%",
                height: "700px",
                // markdown: "xxxx",     // dynamic set Markdown text
                path : "../static/lib/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
</head>
<body>
    <div th:replace="new_navbar::header"></div>
    <div style="width: 100%">
        <div class="container">
            <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">
                <div class="col-lg-12">
                    <h6><strong>标题</strong></h6>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" style="width: 100%;" placeholder="输入你的标题">
                    </div>
                </div>
                <div class="col-lg-12 post-to">
                    <h6><strong>发布到</strong></h6>
                    <div class="row align-items-center ul-group-style">
                        <ul class="quest-tags-b align-items-center" style="float:left;margin-top: 0;width: auto">
                            <li>Work<i class="fa fa-times-circle" onclick="onClickClose(this)" style="margin-left:5px;margin-right: -2px;cursor:pointer"></i></li>
                            <li>Php<i class="fa fa-times-circle" onclick="onClickClose(this)" style="margin-left:5px;margin-right: -2px;cursor:pointer"></i></li>
                            <li>Design<i class="fa fa-times-circle" onclick="onClickClose(this)" style="margin-left:5px;margin-right: -2px;cursor:pointer"></i></li>
                        </ul>
                        <button type="button" style="margin-left: 19px" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            添加一个分类
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="onClickDropdownItem(this)" href="#">c++</a>
                            <a class="dropdown-item" onclick="onClickDropdownItem(this)" href="#">php</a>
                            <a class="dropdown-item" onclick="onClickDropdownItem(this)" href="#">Design</a>
                        </div>
                        <div class="col-lg-4 input-group pull-right">
                            <input type="text" class="form-control" placeholder="创建一个新标签" aria-label="创建一个新标签" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">创建</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-12" id="editor">
                    <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
                    <textarea style="display:none;">### Hello Editor.md !</textarea>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="m-auto col-lg-8 form-inline" style="padding: 0">
                        <div class="col-lg-6 m-auto btn-div-pdd">
                            <button type="button" class="m-auto col-lg-5 btn btn-info">存为草稿</button>
                        </div>
                        <div class="col-lg-6 m-auto btn-div-pdd">
                            <button type="button" class="m-auto col-lg-5 btn btn-success">发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
    <script src="../static/lib/editor/editormd.min.js"></script>
<!--    <script type="text/javascript" src="../static/js/popper.js"></script>-->
<!--    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>-->
<!--    <script type="text/javascript" src="../static/lib/slick/slick.min.js"></script>-->
<!--    <script type="text/javascript" src="../static/js/script.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>